<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker Country Wice</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta odit tempore ab nihil dignissimos assumenda in ullam explicabo voluptate, corrupti ipsam commodi deleniti quasi minus, dolores excepturi culpa repellat reprehenderit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores quod porro accusantium quo sunt aut ut incidunt et possimus, numquam itaque illo commodi dolores minima consectetur eveniet sit sed?</p>
</div>
